.second{
	display:none;
	margin-top:50px;
}
.car-hat{
	margin-top:50px;
}
.first-button{
	margin:0 auto;
	margin-top:50px;
}
.first-button{
	padding:5px 50px;
	cursor:pointer;
	background-color:#9c27b0;
	color: #ffffff;
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	border:none;
}
.first-button .fa-chevron-down{
	font-size:20px;
}

.second-button{
	margin:0 auto;
	margin-top:50px;
	padding:5px 50px;
	cursor:pointer;
	background-color:#9c27b0;
	color: #ffffff;
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	border:none;
}

.dialogBox i{
	color:#ff5722;
	font-size:14px;
}
.dialogBox h3{
	
	color:#ff5722;
	font-weight:bold;
	font-size:25px;
}
.accordianArea{
	width:70%;
	padding-top:50px;
	padding-bottom:100px;
	margin:0 auto
}
.accordianArea .faq-accordian .ansArea p{
	color:#9c27b0;
	
}

